body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.pixabay.com/photo/2020/12/12/13/15/leaves-5825458_1280.jpg");
    background-color: lightblue;
    background-repeat:no-repeat ;
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color:rgb(160, 210, 209);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    margin-bottom: 20px;
}

.input-section input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.input-section button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
